.loginWorld {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
}
.logincontainera {
  position: relative;
  width: 60%;
  padding: 1.5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.logincontainerb {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
  box-shadow: 0px 6px 15px rgba(225, 225, 225, 0.4);
  border-radius: 20px;
}
.loginformBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loginformInput {
  padding: 10px 10px;
  background-color: hsl(0deg, 0%, 95%);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.loginBut {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: royalblue;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.loginBut:active {
  transform: scale(1.1);
}
.signupLink {
  font-weight: 600;
  color: royalblue;
}
@media (max-width: 719px) {
  .loginWorld {
    flex-direction: column;
    height: auto;
  }
  .logincontainera {
    width: 100%;
  }
  .logincontainerb {
    width: 100%;
  }
  .loginForm {
    width: 100%;
  }
}
